
.ht-body {display:flex;flex-direction:column;min-height: 100vh; height: 100%;width: 100%;}
.header_ourt{display:inline-block; vertical-align:top; width:100%; background:#169eae; min-height:96px;}
.barnd {display: inline-block;line-height: 96px;vertical-align: middle;}
.Nav_menu_section{float:right;}
.Nav_menu_section li{display:inline-block;}
.Nav_menu_section li a{display:inline-block; font-size:20px; color:#fff;}
.navbar_right{ float:right;}
.header_ourt.header_options{ background:#fff; box-shadow: 0 0 2px 4px #fafafa; -webkit-box-shadow: 0 0 2px 4px #fafafa;}
.header_ourt.header_options .navbar_right .navbar-nav li a{ color:#0baab7; font-size:18px; padding: 34px 22px; display:inline-block; width:100%;}
.header_ourt.header_options .navbar_right .navbar-nav li a:hover{ color:#000; text-decoration:none;}
.navbar_right .navbar-nav li a:hover{text-decoration:none;} 
.header_ourt.header_options .navbar_right{margin:0px 0 0; position:relative;}
.header_ourt.header_options .brand_logo > a {    display: inline-block;    padding: 18px 0;}
.navbar_right .bg-light{ background:transparent!important;}
.navbar_right .navbar-nav li a{ font-size:20px; color:#fff;padding:32px 18px;font-family:'Circular Std Book'; display:inline-block;}
.header_ourt .navbar-expand-sm{ padding:0px;}
.brand_logo > a {    display: inline-block;    padding:18px 0;}
.home_infomations{display:inline-block; width:100%; vertical-align:top;}
.Intrro_section{ text-align:center;}
.Intrro_section h2{ text-align:center; font-size:37px; color:#000; font-family:'Circular Std Medium';margin: 59px 0 24px;}
.Intrro_section p{ text-align:center; font-size:23px; color:#777; font-family:'Circular Std Book';}
.Intrro_section h2 span{margin: 0 23px 0 0;}
.list_works{ width:100%; display:inline-block; text-align:center; margin:35px 0 41px 0;}
.list_works label{width:100%; display:inline-block; color:#0baab7; font-size:25px; font-family:'Circular Std Book';}
.explore_title{width:100%; display:inline-block; text-align:center; position:relative; margin:12px 0 38px 0;}
.explore_title h3{display:inline-block; margin:0px; font-size:40px; color:#000; font-family:'Circular Std Medium'; background:#fff;padding: 0 20px; position: relative;    z-index: 1;}
.explore_title::after{ position:absolute; top:50%; left:0px; background:#0baab7; height:3px; width:100%; content:"";}
.list_of_explore{display:inline-block; width:100%; overflow:hidden; position:relative; vertical-align:top; margin-bottom:30px;}
.list_of_explore img {transition: all 1s ease 0s; -webkit-transition: all 1s ease 0s;}
.list_of_explore img:hover{ transform: scale(2); -webkit-transform: scale(2);}
.city_names{ position:absolute; right:0px; bottom:0px;text-align: right; padding:0 15px 10px 0;}
.city_names h2{ font-size:26px; color:#fff; font-family:'Circular Std Medium'; text-shadow: 1px 4px 3px #000; }
.city_names h4{ font-size:22px; color:#fff; font-family:'Circular Std Medium';text-shadow: 1px 4px 3px #000; }
.space{ display:inline-block; width:100%; min-height:50px;}
.banner_section{display:inline-block; width:100%; min-height:625px; position:relative;}
.sigin_up_border{ border:2px solid #0baab7;}
.sigin_up_border a{ border:1px solid #0baab7; padding: 5px 41px !important;}
.listing_info{display:inline-block; width:100%; margin-top: 16px;}
.over_all_rating{border:1px solid #f0f0f0;padding: 0 0 12px 19px;}
.over_all_rating_right{border:1px solid #f0f0f0;padding:0 0 12px 19px; border-left:none;}
.padding_right0{ padding-right:0px!important;}
.padding_left0{ padding-left:0px!important;}
.select select{ width:100%;}
/*new*/
.hotel_detail{padding:15px 15px 0px 15px}
.check_inout{padding:0px 15px 15px 15px}
.check_out_left_sec {padding: 0px 15px 15px 15px;background: #fff;margin-top: 18px; box-shadow: 0 0 3px 2px #f1f1f1; -webkit-box-shadow: 0 0 3px 2px #f1f1f1;}
.check_out_right_sec {background: #fff;margin-top: 18px;box-shadow: 0 0 3px 2px #f1f1f1; -webkit-box-shadow: 0 0 3px 2px #f1f1f1;}
.payhotel .edit_btn .paynow_btn{width:100%;border-radius: 0;font-weight: 600;transition: none;font-size: 24px;background:#0baab7;color:#fff;height:64px;}
.payhotel .edit_btn .paynow_btn:hover{width:100%;border-radius: 0;transition: none;background:#ff3366;color:#fff;}
.payhotel .select .select2-container--default .select2-selection--single .select2-selection__rendered{padding:0px;font-size:18px;color:#444;}
.payhotel .select .select2-container--default .select2-selection--single .select2-selection__arrow{   }
.payhotel .select .select2-container--default {border-radius: 0px;height:40px;border-bottom: 1px solid #dddddd;}
.payhotel .select .select2-container--default .select2-selection--single .select2-selection__arrow b{margin-left:0}
.credit.CVV {width: 50%;}
.label_right{text-align:right;}
.payhotel .input-group .form1{box-shadow:none;font-size: 18px;color: #2a2a2a;border-radius: 0;transition: none;border:0;border-bottom: 1px solid #dddddd; line-height:39px; padding: 0 0 7px;}
/*  bhoechie tab */
div.bhoechie-tab-container{z-index: 10;background-color: #ffffff;padding: 0 !important;border-radius:0px;-moz-border-radius: 0px;margin:0;background-clip: padding-box;}
.bhoechie-tab-menu{border:1px solid #f5f5f5}
div.bhoechie-tab-menu div.list-group{margin-bottom: 0;}
div.bhoechie-tab-menu div.list-group>a{margin-bottom: 0;}
div.bhoechie-tab-menu div.list-group>a .glyphicon,div.bhoechie-tab-menu div.list-group>a .fa {color: #2a2a2a;}
div.bhoechie-tab-menu div.list-group>a:first-child{border-top-right-radius: 0;-moz-border-top-right-radius: 0;}
div.bhoechie-tab-menu div.list-group>a:last-child{border-bottom-right-radius: 0;-moz-border-bottom-right-radius: 0;}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{background-color: #f5f5f5;background-image: #5A55A3;color: #2a2a2a;
}
div.bhoechie-tab-content{background-color: #ffffff;padding:0px;}
.bhoechie-tab-container .bhoechie-tab-menu .list-group-item{padding:20px 20px !important;}
.bhoechie-tab-container .bhoechie-tab-menu .list-group-item.active{border:0;background-color:#fff;}
.bhoechie-tab-container .bhoechie-tab-menu .list-group-item{border:0;color:#2a2a2a;font-size:18px; background-color: #f5f5f5;}
div.bhoechie-tab div.bhoechie-tab-content:not(.active){
display: none;
}








/*home slider css*/
.blueberry { margin: 0 auto; }
.blueberry .slides {display: block;position: relative;overflow: hidden;padding:0px;}
.blueberry .slides li {position: absolute;top: 0;left: 0;overflow: hidden;}
.blueberry .slides li img {display: block;width: 100%;max-width: none;}
.blueberry .slides li.active { display: block; position: relative; }
.blueberry .crop li img { width: auto; }
.blueberry .pager {height: 40px;text-align: center; display:none;}
.blueberry .pager li { display: inline-block; }
.blueberry .pager li a,.blueberry .pager li a span {display: block;height: 4px;width: 4px;}
.blueberry .pager li a {padding: 18px 8px;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;}
.blueberry .pager li a span {overflow: hidden;background: #c0c0c0;text-indent: -9999px;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;}
.blueberry .pager li.active a span { background: #404040; }
/*home slider css end*/

.search_informations{ display:inline-block; width:100%; position:absolute; bottom:79px;}
.search_inners{ display:inline-block; width:100%; background:url("../images/fad_bg.png") repeat; min-height:284px;}
.search_informations h2{ color:#fff;font-family:'Circular Std Medium'; font-size:60px; text-shadow: 0 1px 3px #000;}
.sign_upcooper {display: inline-block;width: 571px; padding:34px 0 0 37px;}
.sign_upcooper label{font-size:20px; color:#010101;font-family:'Circular Std Bold';}
.search_buttons {position: absolute;top:0px;}
.search_fellid {display: inline-block;position: relative;width: 100%;}
.search_fellid .form-control{ height:52px; border-radius:0px; padding:0 0 0 45px; font-size:19px; color:#999;font-family:'Circular Std Book';}
.search_fellid .btn-danger{ height:52px; background:transparent; border:none; color:#999999;border-radius:0px;}
.search_buttons i{ font-size:22px;}
.duraction .select2-container--default .select2-selection--single .select2-selection__rendered{font-size:19px; color:#999;line-height:52px;font-family:'Circular Std Book';}
.duraction .select2-container{ background:#fff; height: 52px; }
.duraction .select2-container--default .select2-selection--single .select2-selection__arrow{ top:11px;}
.search_fellid.well.configurator .form-control{ padding:4px 0 0 49px}
.padding0{ padding:0px!important;}
.search_fellid.well.configurator .check_in .form-control{ background:#fff url("../images/check_in.png") 14px 11px no-repeat; cursor:pointer;}
.search_fellid.well.configurator .check_out .form-control{ background:#fff url("../images/check_in.png") 14px 11px no-repeat;cursor:pointer;}
p#cout{ background: url("../images/check_in.png") 14px 11px no-repeat; cursor:pointer;  color: #f6821f;font-family: "Circular Std Book";font-size: 19px;line-height: 52px; padding-left: 50px;}



.select_roomes{ float:left; width:343px;padding: 34px 0 0 37px;}
.select_roomes label {color: #010101;font-family: "Circular Std Bold";font-size: 20px;}
.gust_common .icon_bg{float:left; width:69px; background:#fff;height:52px;text-align: center;}
.gust_qt{float:left;width:67px; background:#cdcdcd; height:52px;}
.icon_bg i{ font-size: 31px; color:#bfbfbf;line-height:52px;}
.gust_qt .select2-container--default .select2-selection--single .select2-selection__rendered{font-size:19px; color:#000; line-height:52px; text-align:center;}
.gust_qt .select2-container .select2-selection--single{ height:52px;}
.gust_qt .select2-container--default .select2-selection--single .select2-selection__arrow{top: 12px;}
.search_by_rooms{display:inline-block; width:100%; margin-top:51px;}
.search_by_rooms .btn-primary{ background:#0baab7; border:1px solid #0baab7; border-radius:0px; color:#fff; height:52px; width:100%; text-align:center; font-size:25px;}
.search_by_rooms .btn-primary:hover{ background:#000;border:1px solid #000; }
.calendar .glyphicon-chevron-left{ background:url("../images/left_arrow.png") no-repeat  8px 5px; width:20px;display:inline-block; vertical-align: top;height:20px;}
.calendar .fa.fa-chevron-right.glyphicon.glyphicon-chevron-right{ background:url("../images/arrow_right.png") no-repeat  8px 5px; width:20px;display:inline-block; vertical-align: top; height:20px;}
.search_info h2{ font-size:28px; color:#2a2a2a;font-family:'Circular Std Book'; margin:0px;}
.search_info label{ font-size:18px; color:#2a2a2a;font-family:'Circular Std Book'; margin:0px;}
.search_info{ float:right;}
.search_info .btn-primary{ background:#0baab7; border:1px solid #0baab7; font-size:21px; color:#fff;font-family:'Circular Std Book'; border-radius:0px; padding:10px 34px;}
.search_info .btn-primary:hover{ background:#000; border:1px solid #000;}
.container_common{display:inline-block; width:100%; border-bottom:2px solid #ededed; padding-bottom: 17px; margin-top:33px; margin-bottom:26px;}
.home_listing{display:inline-block; width:100%; vertical-align:top; background:#f8f8f8;}
.sort_by{display:inline-block; width:100%; background:#fff; min-height:160px; padding:0 18px;}

/* checkmark_button start*/
.checkmark_button {display: block;position: relative;padding-left: 35px;margin-bottom:0px;cursor: pointer;font-size: 16px;
-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;font-family:'Circular Std Book';color:#777;}
/* Hide the browser's default checkbox */
.checkmark_button input {position: absolute;opacity: 0;cursor: pointer;}
/* Create a custom checkbox */
.checkmark_button .checkmark {position: absolute;top: 0;left: 0;height:18px;width:18px;background-color:#fff; border:1px solid #777;}
/* On mouse-over, add a grey background color */
.checkmark_button:hover input ~ .checkmark {background-color: #ccc;}
/* When the checkbox is checked, add a blue background */
.checkmark_button input:checked ~ .checkmark {background-color:#ff3366; border:1px solid #ff3366;}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {content: "";position: absolute;display: none;}
/* Show the checkmark when checked */
.checkmark_button input:checked ~ .checkmark:after {display: block;}
/* Style the checkmark/indicator */
.checkmark_button .checkmark:after {left:6px;top:2px;width: 5px;height: 10px;border: solid white;border-width: 0 3px 3px 0;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);} 
.sort_by ul{ padding:0px;}
.sort_by ul li {display: inline-block;float: left;margin: 0 0 15px;padding: 0;width: 50%;}
.aside_title{ font-size:20px; color:#222222;font-family:'Circular Std Book'; border-bottom:1px solid #f5f5f5; padding:17px 0 12px; margin-bottom:22px;}

/* Customize the label (the container) */
.radio_button {display: block;position: relative;padding-left: 28px;margin-bottom: 0px;cursor: pointer;font-size: 16px;
-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none; color:#777;font-family:'Circular Std Book';}
/* Hide the browser's default radio button */
.radio_button input {position: absolute;opacity: 0;}
/* Create a custom radio button */
.radio_button .checkmark {position: absolute;top: 0;left: 0;height:18px;width:18px;background-color: #fff;border-radius: 50%; border:1px solid #777;}
/* On mouse-over, add a grey background color */
.radio_button:hover input ~ .checkmark {background-color: #ccc;}
/* When the radio button is checked, add a blue background */
.radio_button input:checked ~ .checkmark {background-color: #fff; border:1px solid #ff3366;}
/* Create the indicator (the dot/circle - hidden when not checked) */
.radio_button .checkmark:after {content: "";position: absolute;display: none;}
/* Show the indicator (dot/circle) when checked */
.radio_button input:checked ~ .checkmark:after {display: block;}
/* Style the indicator (dot/circle) */
.radio_button .checkmark:after {top:4px;left:4px;width: 8px;height: 8px;border-radius: 50%;background:#ff3366;} 
.popular_by{  background: #fff;display: inline-block;min-height: 160px;padding: 0 18px;width: 100%; margin-top:15px;}
.popular_by ul{ padding:0px; margin:0px;}
.popular_by ul li{ padding:0px 0 14px; display:inline-block; width:100%;}
.show-button{font-size:17px; color:#ff3366;font-family:'Circular Std Book'; cursor:pointer;}
.show-button:hover,.show_more:hover{ color:#000; text-decoration:none;}
.show_more{font-size:17px; color:#ff3366;font-family:'Circular Std Book'; cursor:pointer;}

.aside_right ul.tabs{margin: 0px;padding: 0px;list-style: none;}
.aside_right ul.tabs li{background: none;color: #777; font-size:20px;font-family:'Circular Std Book';display: inline-block;padding: 10px 15px;cursor: pointer; text-align:center;}
.aside_right ul.tabs li.current{background:transparent; border-bottom:2px solid #0baab7;color: #222;}
.aside_right .tab-content{display: none;padding:0; width:100%;}
.aside_right .tab-content.current{display: inherit;}
.aside_right ul li{ float:left;}
.tab_listing_section{display:inline-block; width:100%;}
.price_list{ position:absolute; bottom:0px; left:0px;}
.hotel{ position:relative;}
.product_info{ display:inline-block; width:100%; background:#fff; padding:10px 15px;}
.hotel img{ max-width:100%;}
.product_info h5{ margin:0px; font-size:24px; color:#222222;}
.product_info p{ margin:0px;font-size:18px; color:#777; margin:0 0 5px 0;}
.product_info a{ text-decoration:none;}
.product_info a h5:hover,.product_info a p:hover{ text-decoration:none; color:#0baab7;}
.rating_icons {display: inline-block;vertical-align: middle;}
.rating_icons label{ vertical-align:top; margin:0px; font-size:13px; color:#ff3366;font-family:'Circular Std Book'; padding:5px 0 0px 0px;font-weight:300; }
.price_list label{ font-size:18px;font-family:'Circular Std Book'; color:#fff; margin:0px 9px 8px 15px;}
.price_list del{ font-size:15px;font-family:'Circular Std Book'; color:#e5e5e5;margin:0 12px 0 0; }
.price_list b{ font-size:11px;font-family:'Circular Std Book'; color:#fff; background:#ff3366; padding:6px 12px;vertical-align: top;display:inline-block;}
.all_listing {display: inline-block;margin-top: 15px;width: 100%;}
.all_items {display: inline-block;margin-bottom: 26px;width: 100%;}
.aside_right ul{ background:transparent; display:inline-block; width:100%;}
.luxary_section{display: inline-block;    margin-top: 15px;    width: 100%;}
.room_type_list{ display:inline-block; width:100%;box-shadow: 0 0 2px 4px #fafafa; padding:19px 6px 11px 15px;}
.gust_qt select{ width:100%;}


/*signup page*/
.modal-content{background-color: transparent;border: 0}
.singup_info .sign_up {width: 569px;margin: 0 auto;background-color: #fff;}
.singup_info .sign_up .signup_inner_containt {width: 414px;margin: 0 auto;padding: 0 15px 0px 15px;}
.signup_image {text-align: center;    margin: 0 0 25px 0;}
.singup_info .sign_up .signup_inner_containt img {margin: 15px 0 31px 0;display: inline-block}
.singup_info .sign_up .signup_inner_containt h4 {font-size: 16px;font-weight: 400;color: #555555;margin: 0 0 -4px 0;line-height:0px;}
.signup_line {display: inline-block;width: 22px;background:#0baab7;height: 3px;}
.singup_info .sign_up .signup_inner_containt .form-group{margin: 0px;}
.singup_info .sign_up .signup_inner_containt .form-check-input {margin:20px 0px 0px 6px;}
.singup_info .sign_up .signup_inner_containt .form-check-label {margin: 0 0px 0 27px;font-size: 14px;vertical-align: middle;line-height: 51px;}
.singup_info .sign_up .signup_inner_containt label {display: inline-block;color: #555555;font-size: 16px;line-height: 50px;font-weight: 400;}
.singup_info .sign_up .signup_inner_containt span {color: #0baab7;font-size: 14px;line-height: 27px;}
.singup_info .sign_up .signup_inner_containt .form-control {display: block;font-size: 16px;line-height: 26px;color: #495057;background-color: #fff;border: 1px solid #bfbfbf;border-radius: 0;transition: none;box-shadow: none;}
.singup_info .sign_up .signup_inner_containt .form-control {display: block;font-size: 18px;height: 45px;
padding: 5px 0 8px 10px;color: #495057;background-color: #fff;border: 1px solid #bfbfbf;border-radius: 0;transition: none;box-shadow: none;}
.singup_info .sign_up .signup_inner_containt .signup_btn {display: inline-block;font-weight: 400;text-align: center;white-space: nowrap;vertical-align: middle;font-size: 18px;line-height: 43px;padding: 0px 0 4px 0;border-radius: 0;transition: none;width: 100%;background-color: #ff3366;color: #fff;}
.singup_info .sign_up .signup_inner_containt .signup_btn:hover {background-color: #0baab7}
.singup_info .sign_up .signup_inner_containt .cancel_btn {background-color: #c3c3c3;color: #fff;}
.singup_info .sign_up .signup_inner_containt .account {font-size: 14px;color: #555555;line-height: 36px; text-align:left; padding-top:0px;}
.singup_info .sign_up .signup_inner_containt .account a {
    color: #ff3366;
    text-decoration: none;
    font-size: 14px;
}
.singup_info .sign_up .signup_inner_containt  b {font-weight: 400;color: #e91e63;}
.singup_info .sign_up .signup_inner_containt  .checkmark_button .checkmark{top:16px;}
.singup_info .sign_up .signup_inner_containt  .checkmark_button a {color: #0baab7;font-size: 14px;line-height: 26px;}
.singup_info .sign_up .signup_inner_containt  .checkmark_button a:hover {color: #ff3366;text-decoration:none;}
.buttons {line-height: 90px;}
.button_signup {margin: 0 0 25px 0;line-height: 55px;}
.singup_info .sign_up .signup_inner_containt .google_plus{background-color:#d34836; }
.singup_info .sign_up .signup_inner_containt .google_plus:hover{background-color:#0baab7; }
.singup_info .sign_up .signup_inner_containt .facebook .glyph-icon:before{margin:0px; font-size: 20px;line-height: 40px}
.singup_info .sign_up .signup_inner_containt .facebook .glyph-icon:before{margin:0px; font-size: 20px;line-height: 40px;}
.singup_info .sign_up .signup_inner_containt .connect .connect_with {position: relative;bottom: 12px;}
.singup_info .sign_up .signup_inner_containt  h6 {background: #fff;display: inline-block;font-size: 18px;    padding-left:0px;
position:relative;}
.singup_info .sign_up .signup_inner_containt .connect_btn {display: inline-block;margin: 0px 0 0;padding:17px 0 25px;width: 100%;}
.singup_info .sign_up .signup_inner_containt .forgot_acr {font-size: 14px;color: #ff3366;margin-left: -6px;line-height:35px}
.singup_info .sign_up .signup_inner_containt .forgot_acr:hover {font-size: 14px;color: #0baab7;text-decoration: none;}
.singup_info .sign_up .close {float: right;font-size: 24px;font-weight: 700;line-height: 1;color: #ff3366;outline:none;text-shadow: none;opacity: 1;margin: 5px 10px 0 0px;}
.social_share a:hover{text-decoration:none;}
/*forgot_btn*/
.forgot_btn {margin-top: 15px;padding: 0px 0 20px 0;}

/*verifycode*/
.verifycode p{text-align:center;line-height: 20px;color: #555555;font-size: 14px;}
.verifycode .verify_input{display:-webkit-inline-box;}
.verify_input .btn-outline-secondary{border-radius: 0;transition: none;background-color: #ff3366;border: 1px solid #ff3366;color:#fff; padding:0 23px;}
.singup_info .verifycode .signup_inner_containt .form-control{font-size: 13px;color: #555555;border: 1px solid #c2c2c2;}
.verify_input .resend{line-height: 54px; color: #0baab7;text-decoration: none;font-size: 14px;font-weight: 400;}
.singup_info .verifycode .signup_inner_containt .resend:hover{ color: #ff3366;text-decoration: none;font-size: 14px;font-weight: 400;}
.signup_inner_containt .resend{ font-size:17px; color:#09919d; display: inline-block;margin: 16px 0 13px;}



/*hotel_address*/
.hotel_address .icons .glyph-icon:before{margin: 0px; color:#ff3366}
.hotel_address h1 {font-size: 33px;color: #333333;line-height: 50px;font-family:'Circular Std Medium';}
.hotel_address p{font-size:20px;color: #333333;line-height:28px;  margin: 0 0 6px;}
.hotel_address .icons p {font-size:17px;color: #ff3366;line-height:40px;margin: 0}

/*select_room*/
.select_room {float: right;width: 200px;text-align: center;margin-top: 37px;    }
.select_room h2{font-family: inherit;line-height: 35px;font-size: 18px;font-weight: 400;color: #333333;}
.select_room span {font-size: 12px;color: #ff3366;line-height: 50px;}
.select_room .select_btn{width: 100%;background-color: #0baab7;border-color:#0baab7;border-radius: 0; font-size:22px;}
.select_room .select_btn:hover{background-color:#fff; color:#0baab7; border-color:#0baab7;}
.select_room .flaticon-shopping-list:before{color:#ff3366;margin: 0px; text-align: center;}

/*property*/
.property {border: 1px solid #f9f9f9;padding: 10px 10px 0 15px;}
.property h4 {margin-bottom: .5rem;font-family: inherit;font-weight: 400;line-height: 40px;color: #0baab7;font-size: 22px;}
.property p{font-weight: 400;line-height: 27px;color: #777777;font-size: 18px;}

.roomtype {margin: 0 0 20px 0;}
.roomtype h2{font-weight: 500;font-size: 27px;line-height: 50px;color: #333333; margin:16px 0 16px 0;}
.roomtype label {display: inline-block;width: 100%;color: #999999;font-size: 19px;}

/*mainsection*/
.mainsection {margin: 0px;border: 1px solid #f0f0f0;border-bottom: 0;padding: 15px 15px 15px 15px;}
.border_btm{border-bottom:1px solid #f0f0f0;}

.mainsection h3 {font-size: 21px;color: #333333;margin: 0;line-height: 21px;}


.mainsection span { display:inline-block;width: 100%;color: #ff3366;font-size: 13px;}
.mainsection .glyph-icon:before{margin: 0px}
.mainsection  .book_now_inner {text-align: right;}
.mainsection  .book_now{margin-top: 30px;}
.mainsection   h5 {color: #0baab7;font-size: 21px;font-weight: 400;line-height: 25px;}
.mainsection  p {margin: 0;font-size: 13px;color: #5f5f5f;line-height: 25px;}
.mainsection   h5 {color: #0baab7;font-size: 21px;font-weight: 400;line-height: 25px;margin: 0;}
.mainsection .book_now .book{margin-top:15px;width: 100%;background-color: #0baab7;border-color:#0baab7;border-radius: 0;}
.mainsection .book_now .book:hover{background-color:#fff; color:#0baab7; border-color:#0baab7;  }
.carousel_section .glyph-icon:before {font-size: 30px;}
.display_select{text-align: right}
.display_select .select2-container .select2-selection--single .select2-selection__rendered{padding-right: 35px;color:#ff3366;font-size: 19px;}
.display_select .select2-container--default .select2-selection--single .select2-selection__arrow b {border-color: #ff3366 transparent transparent transparent;top: 40%;}
.display_select .select2-container--default .select2-selection--single {border: 0;}
.display  h1 {font-size: 27px;color: #333333;line-height: 61px;}
.display  a:hover {color: #ff3366;}
.display  .glyph-icon:before{margin: 0;vertical-align: middle;}
.display .input-group{border: 1px solid #f9f9f9;}
.display .input-group-text {font-size: 1rem;color: #495057;background-color: transparent;border:0;border-radius: 0;}
.display .distance{border: 0;color:#bebebe;font-size: 15px;}
.display .distance:focus{box-shadow:none}
.display p {margin: 0;font-size: 18px;color: #777777;line-height: 32px;}
.location h1 {font-size: 27px;color: #333333;line-height: 25px; margin:4px 0 26px;}
.location .map-responsive{overflow:hidden;padding-bottom:30%;position:relative;height:442px;}
.location .map-responsive iframe{left:0;top:0;height:100%;width:100%;position:absolute; border:none;}
.ratings {margin-top: 20px;}
.ratings h5 {font-size: 20px;color: #333333;line-height: 75px;display: inline-block;width: 100%;}
.ratings b{display: inline-block;width: 100%;font-size: 50px;font-family:'Circular Std Bold';}
.over_all_rating .progress{margin-top: 10px;height: 5px;background-color:#e6e6e6; }
.over_all_rating .progress-bar{background-color:#ff3366; }
.ratings h3 {font-size: 17px;line-height: 25px;color: #777777;}
.ratings p {margin: 0;line-height: 33px;font-size: 18px;color: #444444;}
.pagination_section .pagination{margin-top: 15px;}
.pagination_section .user_no {display: inline-block;margin: 30px 0 30px 0;width: 65px;height: 65px;background: #0baab7;border-radius: 50%;text-align: center;line-height: 65px;color: #fff;}
.pagination_section  h4 {font-size: 20px;color: #3d3d3d;line-height: 44px;}
.pagination_section small {font-size: 14px;font-weight: 400;color: #777777;}
.pagination_section p {margin: 0;color: #646464;font-size: 19px;line-height: 25px;}
.pagination_section .page-item.active .page-link {color: #fff;background-color: #0baab7;border-color: #007bff;border-radius: 50%;height: 35px;display: inline-block;width: 35px;text-align: center;line-height: 20px;}
.pagination_section .page-link {font-size: 20px;display: inline-block;border: 0;background: transparent;line-height: 20px;color: #0baab7;}
.pagination_section nav {float: right;}
.pagination_section nav .page_gyp:before {color: #0baab7;font-size: 30px;}
.pagination_section .border1 {border: 1px solid #f9f9f9;border-top:0; }
.description h5 {color:#333333;font-size:27px;font-weight: 400;line-height: 60px;}
.description p, .description  li {color:#777777;font-size:18px;font-weight: 400;line-height: 27px;}

.others .hotel{position: relative;cursor: pointer;}
.others .hotel h6{position:absolute;bottom:0;color:#fff;font-size:18px;line-height:25px;padding-left: 10px}
.others h5{color:#222222;font-size:24px;line-height:45px;}
.others p{color:#777777;font-size:17px;line-height:25px;}
.others .hotel img{width:100%;}
.others .hotel del{color:#e5e5e5;font-size:15px;}
.others .hotel b{color:#fff;cursor:pointer;font-size:11px;vertical-align: middle;display: inline-block;display: inline-block;width: 80px;height: 25px;background-color: #ff3366;text-align: center;}

/*checkout_payment*/
.payhotel h4{color: #2a2a2a;font-size: 28px;line-height: 50px;}
.myr1500{text-align: right;}
.check_out_payment_bg{vertical-align:top; width:100%; background:#f8f8f8;}
.payhotel h5{color: #0baab7;font-size: 26px;line-height: 50px;padding-right: 5px; margin:0px;}
.payhotel p{color: #2a2a2a;font-size: 16px;line-height: 25px; margin:0px;}
.payhotel .card{border:1px solid #f5f5f5;font-size: 18px;line-height: 25px; margin:0px;}
.payhotel .card .list-group-item{border:0;}
.payhotel .card .Debit{background-color:#f5f5f5; }
.payhotel .credit{margin: 24px 0 25px;}
.payhotel .credit .form{margin-top: 15px;font-size: 18px;color: #2a2a2a;border-radius: 0;transition: none;border:0;border-bottom: 1px solid #dddddd; }
.payhotel .input-group .form{box-shadow:none;font-size: 18px;color: #2a2a2a;border-radius: 0;transition: none;border:0;border: 1px solid #dddddd; line-height:39px; }
.payhotel .select{display: inline}
.payhotel .select .select2-selection__rendered {color: #444;font-size: 14px;}
.hotel_detail .hotel_image {width: 100px;height: 100px;display: inline-block;border-radius: 50%;}

/*payhotel*/
.payhotel .hotel_detail p{color:#777777;font-size: 18px;}
.payhotel .hotel_detail h1{color:#333333;font-size: 30px;font-family:'Circular Std Medium';}
.payhotel .check_inout label{color:#0baab7;font-size: 25px;text-align: right;padding-right:0px;font-family:'Circular Std Book';}
.payhotel .check_inout p span{margin:0 0px 0 10px;}
.payhotel .check_inout p{color:#333333;font-size: 18px;font-family:'Circular Std Book';line-height:40px;}
.payhotel .check_inout .edit_btn{text-align: right;}
.payhotel .check_inout .btn {border-radius: 0;font-weight: 600;transition: none;font-size: 20px; line-height:39px;background: #ff3366;color:#fff;}
.payhotel .check_inout .btn:hover {background: #0baab7;color:#fff;}
.payhotel .check_inout .payment_details h1{font-size: 28px;color: #2a2a2a; display:inline-block; margin:2px 0 7px;}
.payhotel .check_inout .payment_details span{font-size: 18px;color: #8c8c8c}
.payhotel .check_inout .payment_details .paynow_btn{width:100%;border-radius: 0;font-weight: 600;transition: none;font-size: 20px;background:#0baab7;color:#fff;}
.payhotel .check_inout .payment_details .paynow_btn:hover{background:#fff;color:#333; border:1px solid #ff3366;}

/*Guest_Details*/
.Guest_Details {margin: 15px 0 0 0;}
.Guest_Details label {display: inline-block;width: 100%;font-size: 19px;color: #505050;line-height: 57px;}
.Guest_Details span {color: #a8a8a8;font-size: 16px;line-height: 29px;}
.Guest_Details  h1 {font-size: 25px;color: #0baab7;line-height: 50px;}
.Guest_Details .form-control {font-size: 17px;line-height: 30px;color: #444444;background-color: #fff;background-clip: padding-box;border: 1px solid #ced4da;border-radius: 0;transition: none;box-shadow: none;}
.Guest_Details .btn {width: 100%;border: 1px solid transparent;font-size: 25px;line-height: 1.5;border-radius: 0;transition: none;color: #fff;background-color: #ff3366; padding:6px 41px; height:56px;}
.Guest_Details .btn:Hover {background-color:#fff; border:1px solid #0baab7; color:#333;}
.Guest_Details .paynow_btn{background-color:#0baab7; width:100%;margin-bottom: 20px; height:56px;}
.Guest_Details .paynow_btn:hover{background-color:#fff; border:1px solid #ff3366; color:#333;}
.Guest_Details .guest_gyp:before{color: #0baab7;margin: 0 10px 0 0px;vertical-align: middle; font-size:22px;}
.Guest_Details .check p{color: #777777;font-size: 16px;margin: 0;line-height: 29px;font-family:'Circular Std Book';}
.Guest_Details .check .room_info{color: #333333;font-size: 18px;line-height: 33px;font-family:'Circular Std Book'; margin:7px 0 0 0; display:inline-block;}
.Guest_Details .check .cust_hr{margin-bottom: 10px;}
.Guest_Details .check .cust_hr1{margin-top: 10px;}
.Guest_Details .check .checkin {text-align: right;}
.Guest_Details h6 {color: #404040;font-size: 20px;line-height:20px; margin:0px;}
.booking_info span{ display:inline-block; width:100%; margin-bottom:20px;}
.footer_background{background-color: #fff;}
.have_you_cop{ margin:19px 0;}
.booking_info {    display: inline-block;    margin: 4px 0 0;}
.text-align-right{ text-align:right;}

.duraction select{ width:100%;}
.room_type_list .duraction .select2-container{ border:1px solid #ced4da;}
.room_type_list .gust_common .icon_bg{ width:93px;}
.room_type_list .gust_common .gust_qt{ width:93px;}
.gust_common { border:1px solid #ced4da;display: inline-block;}
.mainsection small {font-size: 13px;font-weight: 400;color: #afafaf; display:inline-block; margin:5px 0 7px;}
.mainsection h6 {font-size: 16px;color: #5f5f5f;margin: 0;line-height: 17px;display:inline-block; margin:5px 0 7px; width:100%;}
.mainsection span i{ font-size:17px;}
.mainsection img{max-width: 100%;}
.padding_left0{ padding-left:0px;}
.display p{font-size: 18px;color: #777777;line-height: 35px;vertical-align: middle;text-decoration: none; margin-bottom:6px;}
.display p i{ font-size:17px; color:#777; margin:0 4px 0 0px;}
.display .nav-tabs .nav-link.active{border-color:#fff #fff #ff3366;}
.display .nav-tabs .nav-link {border-bottom: 3px solid #bdbdbd;font-size: 19px; color:#333; text-align:center;}
.listing_of_rommon{ display:inline-block; width:100%;}
.informations_sec{ display:inline-block; width:100%; }
.loade_more a{ float:right; color: #ff3366;    font-size: 19px; margin:16px 0 12px 0;}
.loade_more a i {    font-size: 16px;    margin: 0 0 0 5px;}
.add_more a{font-size: 22px;color: #ff3366;line-height: 60px;}
.add_more a:hover,.loade_more a:hover{ text-decoration:none;}
.rules h1 {font-size: 27px;color: #333333;line-height: 25px;font-family:'Circular Std Book';}
.rules li {font-size: 18px;color: #777777;line-height: 35px;font-family:'Circular Std Book';}
.rules {    display: inline-block;    margin-top: 12px;}
.list-inline li span{  font-size: 29px;font-weight: bold;margin: 0 4px 0 0;vertical-align: top;}
.dist_calculator .form-control{line-height:2.3;  padding-left: 0;}
.dist_calculator .input-group-prepend i{ font-size:20px; color:#777;}
.dist_calculator .tab-pane label{ font-size:14px; color:#777;}
.dist_calculator #myTab{ margin-bottom:16px;}
.list_infor_left {border-right: 1px solid #f0f0f0;display: inline-block;width: 100%;}
.list_info_common{display:inline-block; width:100%; vertical-align:top; margin-top:25px;}
.over_all_rating_right i {font-size:15px;margin: 0;color: #ff3366; vertical-align: bottom;cursor: pointer;}
.pag_section_comon ul{ padding:0px;border: 1px solid #f0f0f0; border-top:0px;}
.pag_section_comon ul li{ padding:0 0 0 22px;display:inline-block; width:100%;border-bottom: 1px solid #f0f0f0;}
.others .product_info{ border:1px solid #f0f0f0;}
.rec_otel{text-align: center;color:#333333;font-size:29px;line-height: 28px; margin:38px 0;}
.gust_detial_left{display:inline-block; width:100%; background:#fff; padding:12px 28px;  box-shadow: 0 0 3px 2px #f1f1f1; -webkit-box-shadow: 0 0 3px 2px #f1f1f1;}
.check_out_bg{ display:inline-block; width:100%; background:#f8f8f8;}
.coupon_modules .form-control{ background:#f7f7f7;}
.pay_now_section{ margin:20px 0 0 0;}
.check_inout.check {display: inline-block;margin: 18px 0 0;width: 100%;}
.check_info_list{display:inline-block; width:100%; margin-bottom: 20px;}
.edit_rooms .room_info i{ font-size:25px; margin:0 7px 0 0px; color:#0baab7;}
.text-align p{ text-align:right;} 
.pay_titles{ display:inline-block; width:100%; margin:11px 0 19px;}
.common_booking_info {display: inline-block;margin: 3px 0 12px;width: 100%;}
.pay_now_buttons h1{ margin:0px;}
.pay_now_buttons b{ font-size:25px; color:#0baab7;font-family:'Circular Std Book'; font-weight:500; text-align:right;display: inline-block; width:100%; margin:21px 0 0 0;}
.pay_now_buttons {    margin: 4px 0 27px;}
.dividers{ margin:0 4px!important;}
.booking_cancelled{display:inline-block; width:100%; background:#fff; padding:0;  box-shadow: 0 0 3px 2px #f1f1f1; -webkit-box-shadow: 0 0 3px 2px #f1f1f1; margin-top:16px;}
.booking_title{ text-align:center; font-size:30px; color:#d51f11; box-shadow:0 0 2px 1px #f1f1f1; -webkit-box-shadow:0 0 2px 1px #f1f1f1; padding:21px 0 26px 0;}
.booking_isd label{ font-size:20px; color:#838383;margin:12px 0 0 0;}
.booking_isd b{ font-size:25px; color:#555555; font-weight:500;margin-bottom:0px; display:inline-block;}
.booking_isd p{ font-size:20px; color:#555555; font-weight:500; text-align:right; margin:22px 0 0 0;}
.booking_cancelled_common {    display: inline-block;    padding: 0 16px;    width: 100%;}
.hotel_info_img img{ width:130px; height:130px;border-radius:50%; -webkit-border-radius:50%;}
.hotels_info_img h1{ font-size:30px; color:#333333;font-family:'Circular Std Medium'; margin:0 0 12px 0;}
.hotels_info_img p{ font-size:18px; color:#333333;font-family:'Circular Std Book'; margin:0px;}
.hotels_info_img h4 strong{ font-size:23px; color:#333333;font-family:'Circular Std Book'; margin:0px; font-weight:500;}
.hotels_info_img label strong{ font-size:23px; color:#333333;font-family:'Circular Std Book'; margin:0px; font-weight:500;}
.hotels_info_img label{ font-size:19px; color:#555;font-family:'Circular Std Book'; margin:10px 0 9px 0; font-weight:500;}
.hotels_info_img h4{ font-size:19px; color:#555;font-family:'Circular Std Book'; margin:12px 0 23px; font-weight:500;}
.hotel_booking_info {display: inline-block;margin: 17px 0 0;width: 100%;}
.hotels_info_img p i{ font-size:21px;}
.date_list_midd h3{ color:#313131; font-size:27px;font-family:'Circular Std Book';}
.date_list_midd p{ color:#525252; font-size:16px;font-family:'Circular Std Book';}
.date_list_night label{color:#888888; font-size:15px;}
.date_list_night i{ font-size:17px; color:#888888;}
.date_list_night {    text-align: center;    width: 100px;}
.date_info_list {display: inline-block;margin: 17px 0 4px;width: 100%;}
.booking_info_ammounts h3{ font-size:24px; color:#313131;}
.booking_info_ammounts label{ font-size:16px; color:#888;}
.inner_book_list h3{ font-size:22px; color:#333333;}
.inner_book_list h4{ font-size:20px; color:#8c8c8c;}
.inner_book_list h3 span{ font-size:18px; color:#333333;}
.date_info_bookings ul{ padding:0px; margin:0px;}
.date_info_bookings ul li{ padding:0px; display:inline-block; width:100%; margin:14px 0 12px 0;}
.inner_book_list.info_listing h3{ text-align:right; color:#0baab7; margin:16px 0 0px 0;}
.inner_book_list.aligin_right h3{ text-align:right;}
.inner_book_list.paid_info h4{ margin:16px 0 0px 0;}
.rules.cancel_pay ul li{ margin:3px 0 3px;}
.rules.cancel_pay h1{ margin:12px 0 17px 0;}
.space1{display:inline-block; width:100%; height:26px;}
.room_title {    text-align: center;}
.user_width_user{display:inline-block; margin:0 15px 0 0;}
.user_width_user img{float:left; width:70px; height:70px; border-radius:50%;}
.sms_send {text-align: center; margin:24px 0 17px 0;}
.sms_send h4{text-align: center; display:inline-block; font-size:20px; color:#555555;}
.sms_send h4 a{ color:#0baab7;}
.your_orders_sucess{ text-align:center; margin: 47px 0 34px; box-shadow:0 2px 3px 0px #f1f1f1; -webkit-box-shadow:0 2px 3px 0px #f1f1f1;padding-bottom: 41px;}
.your_orders_sucess .booking_title{color:#61a942; box-shadow: none; padding: 0; margin:0 0 14px 0;}
.your_orders_sucess .booking_title i{ margin:0 12px 0 0;}
.your_orders_sucess p{ font-size:20px; color:#555555; margin:0px;}
.your_orders_sucess .btn-success {background-color: #e0e0e0;border-color: #e0e0e0;color: #555555;padding:5px 38px; border-radius:0px; font-size:20px; margin: 32px 0 0;}
.your_orders_sucess .flaticon-cloud-storage-download::before{ font-size:27px; margin:0 8px 0 0px;    vertical-align: middle;}
.smothing_canceld b{font-size:22px; color:#333333; font-weight:500; padding: 20px 0; display:inline-block;}
.smothing_canceld b a{ color:#ff3366;}
.responsive_menu{display:none;}
.no_data_found {display: inline-block;text-align: center;width: 100%;}
.no_data_found_inner img{ max-width:200px;}
.no_data_found_inner p{ font-size:20px;}
.store_item_list{display:inline-block; width:100%; vertical-align:top; background:#f8f8f8;}
.cms_pages {background: #fff none repeat scroll 0 0;border-radius: 4px; -webkit-border-radius: 4px;box-shadow: 0 0 5px 5px #eee;-webkit-box-shadow: 0 0 5px 5px #eee;display: inline-block;margin: 26px 0;padding: 22px 19px;width: 100%;}
.cms_titl h1 {border-bottom: 2px solid #0aaaba;font-size: 25px;margin-bottom: 23px;padding: 0 0 13px;}
.cms_pages p{ font-size:17px; line-height:28px; color:#777;}
.offer_new_des ul{ padding:0px;}












/*footer css*/
footer h2{ color: #333333;font-size:22px;line-height:50px; font-family:'Circular Std Book';}
footer li{ color: #909090;font-size:15px;line-height: 35px; font-family:'Circular Std Book'; display:inline-block; width:100%; padding:0px;}
footer .list-inline li{ padding:0px;}
footer a{color:#999999; font-size:15px; text-decoration: none;font-family:'Circular Std Book';}
footer img{cursor: pointer;}
footer p{color: #fff;font-size: 15px; text-align:center; margin:0px;font-family:'Circular Std Book'; padding:11px 0;}
.copy_rights{display:inline-block; vertical-align:top; background:#0baab7; width:100%;padding:5px 0;margin-top:20px; }
.footer_background p{margin:0px; color:#676767; margin:7px 0 7px 0;font-family:'Circular Std Book';}
.mt_o{ margin:0px;}
.footer_background footer{ padding:20px 0 0 0;}
.footer_outer{display:inline-block; vertical-align:top; width:100%; padding-top:24px;}
.footer_outer p{ color:#333; margin:0 0 9px;}
.footer_logo img{ max-width:160px;}
.footer_logo b{ display:inline-block; width:100%; font-size:16px; color:#8f8f8f;font-family:'Circular Std Book'; font-weight:normal; margin:16px 0 0 0;}
.social_share i{ font-size:32px;   margin: 0 11px 0 0;}
.social_share .flaticon-facebook-logo-button::before{ color:#3d579b;}
.social_share .flaticon-twitter-logo-button::before{ color:#58adeb;}
.social_share .flaticon-instagram-logo::before{ color:#66483c;}
.facebook_sign a{ background:#3b5999; width:100%; text-align:center; min-height:50px;font-size:21px; line-height:50px;color:#fff;display: inline-block;}
.google_plus_sign a{ background:#d44837; width:100%; text-align:center;min-height:50px; font-size:21px; line-height:50px;color:#fff; display:inline-block;}
.google_plus_sign{width:100%; text-align:center;display:inline-block;}
.facebook_sign{width:100%; text-align:center;display:inline-block;}
.google_plus_sign a:hover,.facebook_sign a:hover{ opacity:0.7; text-decoration:none;}
.connect_divider {    text-align: center;}
.connect_with::before{ border-bottom: 2px solid #ccc;content: "";height: 2px;left: 100px;position: absolute;top: 12px;width: 179px;}
.connect_with{ position:relative;}
.proparty_img {  display: inline-block;line-height: 223px;text-align: center;vertical-align: middle;width: 100%;}
.proparty_img img {display: inline-block;max-width: 100%;text-align: center;}



.common_left {background: #fff none repeat scroll 0 0;border-radius: 5px;box-shadow: 1px 2px 3px 2px #e5e5e5;display:inline-block;margin-bottom: 76px;text-align: center;width: 100%;}
.right_descript {background: #fff none repeat scroll 0 0;border-radius: 5px;box-shadow: 1px 2px 3px 2px #e5e5e5;display: inline-block;margin-bottom:41px;width: 100%;}
.click_to_phoyo #preview {margin: 0 auto;width: 130px;}
.click_to_phoyo a {display: inline-block;line-height: 129px;position: relative;vertical-align: middle;width: 100%;
}
.click_to_phoyo img {border: 3px solid #c2c5c6;border-radius: 50%;display: inline-block;height: 130px;vertical-align: middle;
width: 130px;}
.select_user_photo {display: block;}
.select_user_photo {background: #f44066 url("../images/camera.png") no-repeat scroll center center;border-radius: 50%;bottom: 0;
height: 40px;position: absolute;right: 0;width: 40px;}
.click_to_phoyo #preview {margin: 0 auto;width: 130px;}
.click_to_phoyo a {display: inline-block;line-height: 129px;position: relative;vertical-align: middle;width: 100%;}
.user_profile_sections h2 {color: #666;font-size: 22px;font-weight: 500;margin: 25px 0 13px;overflow-wrap: break-word;padding: 0 0 0 15px;text-align: center;}
.user_profile_sections h5 {overflow-wrap: break-word;}
.left_side_tabs {margin-bottom: 15px;}
.resp-tabs-list {border-bottom: 0 none;padding: 0;}
.left_side_tabs .resp-tabs-list li {text-align: center;}
.resp-tabs-list li {background: transparent none repeat scroll 0 0 !important;cursor: pointer;display: inline-block;list-style: outside none none;width: 100%;}
.resp-tabs-list li {float: none;margin: 0;text-align: left;}
.resp-tabs-list li a {border: 0 none;border-radius: 0;color: #999;display: inline-block;font-size: 18px;font-weight: 300;margin-right: 0;overflow-wrap: break-word;padding: 10px 15px;}
.my_account_sections .table > thead > tr > th {border-bottom: 1px solid #ddd;}
.my_account_sections .table tr th {color: #000;font-size: 16px;font-weight: 500;text-align: center;vertical-align: middle;}
.my_account_sections .table tr td {color: #555;font-size: 14px;font-weight: normal;text-align: center;vertical-align: middle;}
.pay_title {border-bottom: 1px solid #ccc;color: #555;display: inline-block;font-size: 18px;font-weight: 400;padding:16px 0px 16px 15px;width: 100%;}
.resp-tabs-list li a:hover{ color:#FF3366;}
.after_login_drop {background: #fff;display: none;left: 0;min-height:94px;position: absolute;top: 85px;width: 186px; z-index: 2;  border: 1px solid rgba(0, 0, 0, 0.15);
border-radius: 4px;
box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);}
.click_to_phoyo {background: #e8e7e7 none repeat scroll 0 0;border-radius: 5px 5px 0 0;display: inline-block;padding: 29px 0 20px;width: 100%;}
.my_account_section {display: inline-block;margin: 20px 0 0;width: 100%;}
.edit_orofile_sections_inner .form-control {border-radius: 0;box-shadow: none;color: #c2c2c2;font-size: 18px;height: 45px;}
.edit_orofile_sections_inner .button_sections {margin: 17px 0 28px;text-align: left;}
.button_sections .btn-primary {background: #b7b7b7 none repeat scroll 0 0;border: 0 none;border-radius: 0;color: #fff;
font-size: 17px;margin: 0 9px 0 0;padding:8px 34px;}
.button_sections .btn-default {background: #f44066 none repeat scroll 0 0;border: 0 none;border-radius: 0;color: #fff;
font-size: 17px;padding:8px 34px;}
.left_label, .label_radio {color: #c2c2c2;font-size: 16px;font-weight: 300;margin: 0 11px 0 0;
}
.left_label, .has-js label.r_on {color: #555;font-size: 16px;font-weight: 300;}
.edit_orofile_sections_inner {padding: 13px 15px 0;}
.button_sections .btn-default:hover{ background:#0AAAB7;}
.button_sections .btn-primary:hover{ background:#333;}
.gender_edit .label_radio > input {    margin: 0 5px;}
.change_password {    display: inline-block;    margin: 69px 0 73px;    width: 100%;}
.election_change_pass {margin: 0 auto;width: 328px;}
.election_change_pass .form-control {border-radius: 0;box-shadow: none;font-size: 16px;height: 40px;}
.change_password .button_sections {    display: inline-block;    margin-top: 13px;    text-align: center;    width: 100%;}
#photoimg {    display: none;}.select_user_photo {    display: block;}
.navbar_right .glyph-icon.flaticon-social {    margin: 0 7px 0 0;}
.navbar-nav > li:hover .after_login_drop {    display: block;}
.after_login_drop ul {    padding: 0;}
.after_login_drop ul li a {color: hsl(0, 0%, 40%);display: inline-block;font-size: 18px;line-height: 34px;padding: 5px 22px !important;width: 100%;}
.after_login_drop ul li{display:inline-block; width:100%;}
.elections_sections .activebutton{background: #f44066 ;}
.elections_sections .payment_info .btn-primary {font-size: 12px;margin-top: 10px;margin-bottom: 12px;padding:10px 39px;  font-size:15px; color:#fff;}
.elections_sections .activebutton {    background: #f44066 !important;}
.elections_sections .btn-primary{ background:#24B3BE; border:1px solid #24B3BE;}
.store_det_in p {color: #555;display: inline-block;font-size:18px;margin:7px 0 11px;overflow-wrap: break-word;width: 100%;}
.store_mg {margin: 20px 0 0;}
.info_store {display: inline-block;margin-bottom: 12px;overflow-wrap: break-word;width: 100%;padding: 0 15px 0 0;}
.info_store h4 {color: #555;display: inline-block;font-size: 18px;margin: 0;overflow-wrap: break-word;width: 100%;}
.info_store h5 {color: #555;display: inline-block;font-size: 18px;margin: 0;overflow-wrap: break-word;text-align: right;
width: 100%;}
.deli_list {width: 100%;}
.delivery_det h4 {color: #555;display: inline-block;font-size: 18px;line-height: 30px;width: 100%;}
.deli_list h4 {color: #555;display: inline-block;font-size: 17px;line-height: 30px;width: 100%;}
.order_payments_reorder .btn-primary {background: #b7b7b7 none repeat scroll 0 0;border: 0 none;border-radius: 0;color: #fff;font-size: 18px;margin: 0 14px 0 0;padding: 8px 23px;}
.order_payments_reorder .btn-primary:hover {background: #f44066 none repeat scroll 0 0;}
.order_payments {display: inline-block;width: 100%; margin-bottom: 16px;}
.order_payments_reorder {float: right;}
.order_info_text_right .price_setions_list label {text-align: right;}
.price_setions_list p {color: #FF3366;display: inline-block;font-size: 18px;text-align: right;width: 100%; padding:0 15px 0 0;}
.price_setions_list label {color: #555555;display: inline-block;font-size: 18px;width: 100%;}
.price_setions_list_total label {color: #555555;display: inline-block;font-size: 18px;width: 100%;  text-align: right; margin:0px;}
.store_det_in {    padding: 0 15px;}
.price_setions_list_total p {    color:#E85076;    display: inline-block;    font-size: 18px;    text-align: right;    width: 100%;  padding: 0 15px 0 0; margin:0px;}
.delivery_det {    padding: 0 15px;}
.price_setions_list_total {    border-bottom: 1px solid #dddddd;    border-top: 1px solid #dddddd;    display: inline-block;    width: 100%;    margin-top: 13px; margin-bottom:20px;   padding: 13px 0;}
.cart_sections_tables .table-responsive{overflow-x: hidden;}
.brand_logo img {    max-width: 212px;}
.navbar_right button:focus {outline: medium none;}
.navigation,.navbar_right .button-box{display:none;}
.my_account_sections p{ margin:0px;}
.pagination_right{display:inline-block; width:100%; padding:0 9px 0 0px;}
.pagination_righ .pagination ul{float:right;}
.pagination_righ .pagination li a:first-child{ background:red; width:30px; height:30px; border-radius:40%; text-align:center; color:#fff;}

/*footer end css*/
.contact_det {background: #fff none repeat scroll 0 0;border-radius: 6px;box-shadow: 0 2px 3px 2px #e3e7e9; -webkit-box-shadow: 0 2px 3px 2px #e3e7e9;display: inline-block;margin-top: 2px;min-height: 371px;padding: 0 15px;width: 100%;}
.right_form {background: #fff none repeat scroll 0 0;border-radius: 6px;box-shadow: 0 2px 3px 2px #e3e7e9; -webkit-box-shadow: 0 2px 3px 2px #e3e7e9;display: inline-block;margin-bottom: 60px;padding: 25px 0 0;width: 100%;}
.contact_det h3 {border-bottom: 1px solid #cecece;color: #555;font-size: 18px;padding: 0 0 15px;font-weight:400;}
.contact_det address h4 {color: #555;font-size: 18px;margin: 19px 0 13px;font-weight:400;font-family: "Circular Std Book";}
.contact_det address a {color: #555;display: inline-block;font-size: 15px;margin: 0px;
width: 100%;font-weight:400;font-family: "Circular Std Book";}
.social_share {display: inline-block;margin-top:0px;text-align: left;width: 100%;}
.right_form .form-control {border-radius: 0;box-shadow: none;color: #c2c2c2;font-size: 17px;height: 45px; font-weight:400;font-family: "Circular Std Book";}
.sign_bot_sub .btn-primary {background: #b7b7b7 none repeat scroll 0 0;border: 0 none;border-radius: 0;box-shadow: none;
color: #fff;font-size: 18px;font-weight: 300;padding: 13px 44px;font-family: "Circular Std Book"; border:1px solid #b7b7b7;}

.sign_bot_sub .btn-default{background: #b7b7b7 none repeat scroll 0 0;border: 0 none;border-radius: 0;box-shadow: none;
color: #fff;font-size: 18px;font-weight: 300;padding: 13px 44px;font-family: "Circular Std Book"; background:#0AA6B4; border:1px solid #0AA6B4; margin:0 0 0 17px;}
.sign_bot_sub {float: right;margin:21px 0 32px;}
.contact_det .flaticon-close-envelope::before {color: #0AAAB7;font-size: 18px;margin: 0 9px 0 0;vertical-align: middle;}
.contact_det address p {color: #999;font-size: 16px;margin:14px 0 0 25px;}
.contact_det .flaticon-facebook-placeholder-for-locate-places-on-maps::before {color: #0AAAB7;font-size: 22px;margin: 0 6px 0 0;}
.sign_bot_sub .btn-default:hover{ border:1px solid #0AA6B4; color:#333; background:#fff;}
.sign_bot_sub .btn-primary:hover{ background:#fff; border:1px solid #0aa6b4; color:#333;}
.right_form textarea { min-height:100px; resize:none;}
.social_share.contact_us_social ul{ padding:0px; margin:0px;}
.map_section {background: #fff none repeat scroll 0 0;border-radius: 6px;box-shadow: 0 2px 3px 2px #e3e7e9;display: inline-block;margin-bottom: 15px;margin-top: 20px;width: 100%;}
.contact_us_inner .location h1{margin: 29px 0 10px;}
.navbar_right .navbar{ margin:0px;}
.inner_page_common{display:inline-block; width:100%; vertical-align:top; background:#F8F8F8;}
.list_info_common .breadcrumb{ background:none;padding: 0; margin:0 0 23px 0;}
.list_info_common .breadcrumb li a{font-family:'Circular Std Book'; font-size:17px; color:#0baab7;}
.verifycode  .resend {color:#0aaab7;display: inline-block;font-size: 17px;margin: 14px 0 17px;}
.glyph-icon-flaticon-view{ display:inline-block; width:100%; height:17px; background:url("../images/eye_icon.png") no-repeat;}
.header_ourt.front_header .after_login_drop li a{ color:#000;}
.header_ourt.front_header .after_login_drop li a:hover{ color:#169EAE;}
.pagination{float:right;}
.pagination_right .pagination li.disabled span{  border-radius: 50%;color:#0baab7;display: inline-block;font-size: 25px;
height: 30px;line-height: 23px;text-align: center;vertical-align: top;width: 30px; border:1px solid #0baab7;} 
.pagination_right .pagination li a{ font-size:20px;color:#0baab7;}
.pagination_right .pagination li span{ font-size:20px; color:#0baab7;}
.pagination_right .pagination li:last-child a{  border-radius: 50%;color:#0baab7;display: inline-block;font-size: 25px;
height: 30px;line-height: 23px;text-align: center;vertical-align: top;width: 30px; border:1px solid #0baab7;} 
.pagination_right .pagination li{ margin:0 6px ;}
.pagination_right .pagination li:first-child a{  border-radius: 50%;color:#0baab7;display: inline-block;font-size: 25px;
height: 30px;line-height: 23px;text-align: center;vertical-align: top;width: 30px; border:1px solid #0baab7;}  
.home_listing .breadcrumb{ background:none;padding: 0; margin:0 0 23px 0;}
.home_listing .breadcrumb li a{font-family:'Circular Std Book'; font-size:17px; color:#0baab7;}
.pagination_right .pagination li.active span{ color:#000;}
.listing_common .aside_right ul{ background:#fff;}
.pagination_right .pagination ul{ background:transparent;}
.list-inline i{font-style:normal;}






/* new css 4/5/18*/

.header_ourt.header_bussiness{ position:absolute; top:0px; left:0px; width:100%;  background: transparent; z-index:2;} 
.business_banner{display:inline-block; width:100%; background: #F8F8F8 url("../images/landing_bg.jpg") no-repeat; min-height:600px;}
.aligin_center{ text-align:center; width:100%; display:inline-block; margin:141px 0 0;}
.aligin_center p{font-size:23px; color:#fff; font-weight:400; margin:0 0 40px;}
.aligin_center h1{font-size:50px; color:#fff; font-weight:500; margin:12px 0 19px 0;}
.home_infomations_business .list_works{display:inline-block; width:100%; padding: 10px 21px;border-bottom: 6px solid #fff;}
.prgrass_bar img{ max-width:100%;}
.aligin_center img{max-width:100%;}
.home_infomations_business .list_works h3{ font-size:23px; color:#000; margin:13px 0 11px 0;}
.home_infomations_business .list_works p{ font-size:16px; color:#777777; line-height: 28px;}
.home_infomations_business .list_works:hover { border-bottom: 6px solid #ff3366;box-shadow: 0 0 8px 4px #e4e4e4;content: "";
padding: 10px 21px; -webkit-box-shadow: 0 0 8px 4px #e4e4e4;} 
.home_infomations_business .Intrro_section h2{ margin:80px 0 24px;}
.home_infomations_hellp .Intrro_section h2{ margin:2px 0 24px;}
.list_of_check ul{ padding:0px; margin:0px;}
.list_of_check ul li{ padding:0 0 26px 46px; margin:0px; font-size:20px; font-weight:500; color:#000;display:inline-block; width:100%; background:url("../images/tick_mark.png") top left no-repeat;} 
.home_infomations_hellp img{max-width:100%;}
.list_of_check {    display: inline-block;    margin: 58px 0 0;}
.check_marks_sections{display:inline-block; width:100%; margin: 35px 0 0;}
.home_infomations_engine{display:inline-block; width:100%;  background:#ebebeb; padding: 0 0 57px;text-align: center;margin: 32px 0 0;}
.booking_engine img{ margin:40px 0 0 0; max-width:100%;}
.price_list{display:inline-block; width:100%;}
.prgrass_bar{ text-align:center;}
.price_list_busness h3{ font-size:32px;color:444444; font-weight:500; margin:34px 0 11px 0;}
.price_list_busness h4{ font-size:20px;color:444444; font-weight:400;}
.price_list_busness .myr{ font-size:18px;color:444444; font-weight:400;font-family:'Circular Std Book'; vertical-align: top;margin: 10px 0 0; display:inline-block;}
.price_list_busness .mon_siz{ font-size:24px;color:444444; font-weight:400;font-family:'Circular Std Book'; vertical-align: bottom;}
.price_list_busness b{ font-size:59px;font-family:'Circular Std Book'; display:inline-block; width:100%; margin:33px 0 27px;}
.price_list_busness {box-shadow: 0 0 7px 5px #f1f1f1; -webkit-box-shadow: 0 0 7px 5px #f1f1f1;display: inline-block;width: 100%;}
.prgrass_bar p{ font-size:19px;margin: 0;}
.prgrass_bar ul{ padding:0 0px 8px 44px; margin:42px 0 0 0; text-align:left; min-height:236px;}
.prgrass_bar ul li{ padding:0 0 0 28px; margin:0 0 15px 0; text-align:left; display:inline-block; width:100%; background:url("../images/check1.png") left center no-repeat; font-size:20px; color:#444;}
.sigun_up_butt .btn.btn-default{ background:#4fbfc1; border:1px solid #4fbfc1; font-size:22px; color:#fff; padding: 10px 54px;   border-radius: 0; margin:30px 0 38px; font-weight:600;font-family:'Circular Std Book';}
.sigun_up_butt .btn.btn-default:hover{ background:#ff3366; border:1px solid #ff3366;}
.price_box3 .prgrass_bar{ text-align:center; min-height: 142px;}
.price_box3 .price_list_busness b{ font-size:38px; margin:5px 0 0;}
.sigun_up_butt {    text-align: center;}
.price_sections {display: inline-block;margin: 37px 0 0;}
.home_infomations_signup_free{display:inline-block; width:100%; background:url("../images/sub_bg.jpg") no-repeat; min-height:400px; margin:50px 0 0 0; text-align:center; background-size:cover; -webkit-background-size:cover;}
.home_infomations_signup_free h2{ font-size:38px; color:#000; margin:83px 0 24px 0;}
.home_infomations_signup_free h3{ font-size:20px; color:#777;}
.home_infomations_signup_free .btn.btn-default{ background:#ff3366; border:1px solid #ff3366; font-size:22px; color:#fff; padding: 10px 54px;   border-radius: 0; margin:30px 0 38px; font-weight:600;font-family:'Circular Std Book';}
.home_infomations_signup_free .btn.btn-default:hover{ background:#4fbfc1; border:1px solid #4fbfc1;}
.header_ourt.header_bussiness .brand_logo {margin: 13px 0 0;}
.signup_form {background: #fff;border-radius: 9px;display: inline-block;padding: 35px 49px;width: 100%; box-shadow:1px 0 13px 2px #326166; -webkit-box-shadow:1px 0 13px 2px #326166;margin: 137px 0 0;}
.signup_form .form-control{ border-radius:0px; height:45px;}
.signup_butons .btn-primary{ background:#ff3366; border:1px solid #ff3366; font-size:24px; color:#fff; width:100%; border-radius:0px;}
.signup_form label { font-size:18px; color:#555555; font-weight:500;font-family:'Circular Std Book';}
.checkmark_button.new_check{ line-height:18px; margin:9px 0 21px; display:inline-block; }
.signup_butons .btn-primary:hover{ background:#0EAEBA; border:1px solid #0EAEBA;}
.banner_leftsec .aligin_center{ text-align:left; margin:185px 0 0;}
.checkmark_button.new_check a{ color:#169eae;}
.landing_bussiness_pages .Intrro_section h2{ text-align:left; font-size:24px; margin:40px 0 24px;}
.landing_bussiness_pages .Intrro_section p{ text-align:left; font-size: 20px; font-size: 20px;}
.landing_bussiness_pages .list_works img{ max-width:100%;}
.landing_bussiness_pages .list_works{ margin: 23px 0 19px;}
.business_banner.banner_leftsec .signup_form{ margin:137px 0 60px;}
.home_infomations.landing_bussiness_pages{ background:#F8F8F8;}


.header_ourt.header_bussiness .navbar_right .navbar-nav li a{ padding:4px 27px;}
.book_now_bussines{ border:1px solid #fff;}
.header_ourt.header_bussiness .navbar_right{ margin:41px 0 0;}


