	/*
  	Flaticon icon font: Flaticon
  	Creation date: 08/03/2018 14:41
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {font-family: "Flaticon";    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
font-family: Flaticon;
font-style: normal;
}
.flaticon-tumblr-logo-button:before { content: "\f100"; }
.flaticon-whatsapp-1:before { content: "\f101"; }
.flaticon-empty-shopping-cart:before { content: "\f102"; }
.flaticon-shopping-cart:before { content: "\f103"; }
.flaticon-logout:before { content: "\f104"; }
.flaticon-google-plus-logo-button:before { content: "\f105"; }
.flaticon-youtube-logotype:before { content: "\f106"; }
.flaticon-instagram-logo:before { content: "\f107"; }
.flaticon-pinterest-logo:before { content: "\f108"; }
.flaticon-linkedin-button:before { content: "\f109"; }
.flaticon-twitter-logo-button:before { content: "\f10a"; }
.flaticon-facebook-logo-button:before { content: "\f10b"; }
.flaticon-back:before { content: "\f10c"; }
.flaticon-next:before { content: "\f10d"; }
.flaticon-down-arrow:before { content: "\f10e"; }
.flaticon-right-arrow:before { content: "\f10f"; }
.flaticon-arrows-2:before { content: "\f110"; }
.flaticon-double-king-size-bed:before { content: "\f111"; }
.flaticon-transport:before { content: "\f112"; }
.flaticon-interface-1:before { content: "\f113"; }
.flaticon-arrows-1:before { content: "\f114"; }
.flaticon-calendar:before { content: "\f115"; }
.flaticon-tick-inside-circle:before { content: "\f116"; }
.flaticon-close-envelope:before { content: "\f117"; }
.flaticon-circle:before { content: "\f118"; }
.flaticon-google-plus-logo:before { content: "\f119"; }
.flaticon-connection:before { content: "\f11a"; }
.flaticon-facebook-letter-logo:before { content: "\f11b"; }
.flaticon-facebook-placeholder-for-locate-places-on-maps:before { content: "\f11c"; }
.flaticon-business:before { content: "\f11d"; }
.flaticon-moon-phase-outline:before { content: "\f11e"; }
.flaticon-cloud-storage-download:before { content: "\f11f"; }
.flaticon-social:before { content: "\f120"; }
.flaticon-call-answer:before { content: "\f121"; }
.flaticon-shield:before { content: "\f122"; }
.flaticon-technology-1:before { content: "\f123"; }
.flaticon-shopping-list:before { content: "\f124"; }
.flaticon-arrows:before { content: "\f125"; }
.flaticon-video:before { content: "\f126"; }
.flaticon-interface:before { content: "\f127"; }
.flaticon-left-arrow:before { content: "\f128"; }
.flaticon-food:before { content: "\f129"; }
.flaticon-technology:before { content: "\f12a"; }
.flaticon-people-1:before { content: "\f12b"; }
.flaticon-guest:before { content: "\f12c"; }
.flaticon-whatsapp:before { content: "\f12d"; }
.flaticon-people:before { content: "\f12e"; }
.flaticon-profile:before { content: "\f12f"; }
.flaticon-search:before { content: "\f130"; }
.flaticon-favorite:before { content: "\f131"; }
.flaticon-blank-square:before { content: "\f132"; }