<textarea> 
</textarea>

 <input name="image" type="file" id="upload" class="hidden" onchange="">




<script src="jquery-2.0.0.min.js"></script>

<script src="tinymce.min.js"></script>

<script src="jquery.tinymce.min.js"></script>


<script>
	tinymce.init({
  selector: 'textarea',
  height: 500,
  theme: 'modern',
  plugins: [
    'advlist autolink lists link image charmap  preview hr anchor pagebreak ',
    'searchreplace wordcount visualblocks visualchars code fullscreen   ',
    'insertdatetime  nonbreaking save table contextmenu directionality',
    'template paste textcolor colorpicker textpattern   imagetools codesample toc help emoticons hr'
  ],
  toolbar1: 'formatselect | bold italic  strikethrough  forecolor backcolor | link | alignleft aligncenter alignright alignjustify  | numlist bullist outdent indent  | removeformat',
  image_advtab: true,
  templates: [
    { title: 'Test template 1', content: 'Test 1' },
    { title: 'Test template 2', content: 'Test 2' }
  ],

   image_advtab: true,
  paste_data_images: true,
  
   file_picker_callback: function(callback, value, meta) {
      if (meta.filetype == 'image') {
        $('#upload').trigger('click');
        $('#upload').on('change', function() {
          var file = this.files[0];
          var reader = new FileReader();
          reader.onload = function(e) {
            callback(e.target.result, {
              alt: ''
            });
          };
          reader.readAsDataURL(file);
        });
      }
    },
    
    toolbar: "visualblocks",
  visualblocks_default_state: true
    
 });
</script>

 